/* ¼ç¤ÊÊ¸¾Ï */
p{
  font-size: 15;
  color: #494949;
}

/* ¸«½Ð¤· */
h1{
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 10px #40D1CC;
  border-bottom: solid 3px #d7d7d7;
}

h2{
  padding: 0;
  color: #494949;
  background: #FFFFFF;
  font-size: 20;
  background: linear-gradient(transparent 50%, #66FFCC);
}

h3{
  color: #FFFFFF;
  background: #40D1CC;
  margin-bottom: 5px;
  padding: 0.5em;
}

/* ¥ê¥ó¥¯Àè */
a{
  color: skyblue;
  text-decoration: none;
}

/* ÇØ·Ê */
body {
  background: #FFFFFF;
  /*font-family: "Hiragino Kaku Gothic Pro", "Meiryo";*/
  font-family: Quicksand, Þâ¥´¥·¥Ã¥¯ÂÎ, "Yu Gothic", YuGothic, "¥Ò¥é¥®¥Î³Ñ¥´¥·¥Ã¥¯ Pro", "Hiragino Kaku Gothic Pro", ¥á¥¤¥ê¥ª, Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
}

