/* divÀßÄê */
.main{
  width: 100%;
}

.main div{
  width: 80%;
  margin: 0 auto; 
}

#menu{
  max-width: 250px;
  width: 20%;
  float: left;
  margin: 10px;
  padding: 0; 
}

#content{
  width: 60%;
  float: left;
  margin: 10px;
  padding: 10px; 
}
